<h1>Welcome to Eternal Petals!</h1>

<p>We offer flowers to you on a subscription plan.  Just subscribe to the plan
you need and you can always have beautiful fresh flowers in your home or
resturant for as long as you want!</p>

