<div class="ui grid">
  <div class="eight wide column">
    <form class="ui form">
      <h4 class="ui dividing header">Contact Us</h4>
        <div class="field">
          <label>Name</label>
          <div class="two fields">
            <div class="field">
              <input type="text" name="first-name" placeholder="First Name">
            </div>
            <div class="field">
              <input type="text" name="last-name" placeholder="Last Name">
            </div>
          </div>
        </div>
      <div class="required field">
        <label>Email</label>
        <input type="text" name="email" placeholder="Email">
      </div>
      <div class="required field">
        <label>Message</label>
        <textarea></textarea>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="hot-deals">
          <label>I agree to sign up for email news.</label>
        </div>
      </div>
      <div class="ui error message">
        <div class="header">We noticed some issues</div>
      </div>
      <div class="ui submit button">Enquire</div>
    </form>
  </div>
</div>