
<div class="ui segment">
  <p>Here at Eternal Petals we have a variety of plans to suit your needs,
  depending on whether you what them to cheer your home, cafe, hotel, or your
  special someone's heart every month.</p>
</div>

    <div class="ui centered grid">
      <div class="four wide column">
        <div class="ui segment plan-card">
          <h2>Home Sunshine</h2>
          <p>Have a fresh small-sized bunch of flowers delivered to you home every
            month!</p>
          <p>$20 p/mth</p>
          <p>or $220 p/yr</p>

          <div class="ui button">
            Home
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui segment plan-card">
          <h2>Cafe Springtime</h2>
          <p>Have a medium-sized bunch of flowers delivered to your cafe or resturant
          each month and deliver a far superior experience to your guests.</p>
            <p>$80 p/mth</p>
            <p>or $350 p/yr</p>
          <div class="ui button">
            Cafe
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui segment plan-card">
          <h2>All the flowers.</h2>
          <p>Perfect for owners of chains of resturants needing multiple flowers to
            different locations each month</p>
          <p>Contact us for a quote tailored to your needs</p>
          <div class="ui button">
            Cafe Chain
          </div>
        </div>
      </div>

    </div>

</div>